   * {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #0A0B1D;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    width: 200px;
    padding: 8px 12px; 
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    transition: 0.3s ease-in-out;
  }
  
  .search-input:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.2);
  }
  
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #666;
  }
  
  .navbar-nav {
    gap: 16px;
  }
  
  .nav-link1 {
    color: #dc3545;
  }
  
  #navbarNav {
    padding-right: 40px;
  }
  
  .blog-nav {
    background-color: transparent !important;
    height: 78px;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 8;
  }
  
  .nav-link {
    color: white;
  }
  
  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DC3545;
    height: 100vh;
    text-align: center;
  }
  
  .profile-title {
    font-size: 2rem;
    font-weight: bold;
    color: #DC3545;
  }
  
  .profile-text {
    color: #424266;
  }
  
  .home-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  
  .home-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  .banner-section {
    background-color: #dee2e6;
    padding: 50px 0;
    position: relative;
  }
  
  .banner-highlight {
    background-color: #ff2712;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid transparent;
    font-size: 18px;
    color: #e8e8e8;
    border-top-right-radius: 40px !important;
  }
  
  .banner-title {
    font-weight: 700;
    padding-bottom: 35px;
    color: white;
    font-family: "Permanent Marker", serif !important;
    line-height: normal;
    margin-top: 20px;
    letter-spacing: 2px;
    word-spacing: 5px;
  }
  
  .banner-description {
    color: #666;
    line-height: 1.8;
  }
  
  .banner-button {
    background: #DC3545;
    color: white;
    font-size: 0.65;
    padding: 6px 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 2;
  }
  
  .banner-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 117, 140, 0.3);
  }
  
  .blog-button {
    color: #ff4562;
    font-size: 0.65;
    padding: 6px 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 2;
  }
  .button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .button-end{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
  }
 
  .delete-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  

  
  .delete-button:hover{
    background-color: #c82333;

  }

  .delete-icon{
    margin-right: 5px;
  }


  
  .banner-image {
    border-radius: 10px;
  }
  
  .banner-icons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
  }
  
  .banner-icons i {
    font-size: 20px;
  }

  h1 {
    position: relative;
    font-size: 5rem;
  }
  
  h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }
  
  h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  @media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
  }
  
  @media (max-width: 768px) {
    .slide-title {
      font-size: 2.5rem;
    }
    .slide-description {
      font-size: 1.2rem;
    }
    .styled-button {
      font-size: 1rem;
      padding: 10px 20px;
    }
  }
  
  .blog-card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .blog-btn {
    background-color: #DC3545 !important;
    font-size: 18px !important;
    color: #e8e8e8 !important;
    border-top-right-radius: 40px !important;
    border: 1px solid transparent !important;
  }
  
  .cards {
    border-radius: 10px;
    border-top-right-radius: 142px !important;
    border-bottom-left-radius: 142px !important;
    background: #dee2e6 !important;
    border: 1px solid transparent !important;
  }

  .card {
    background-color: transparent !important;
  }
  
  .blog-form {
    width: 65% !important;
  }
  
  .form-control {
    background-color: #fff9f99c !important;
    border: var(--bs-border-width) solid #99999954 !important;
    border-radius: 30px !important;
  }
  
  .auth-content {
    text-align: center;
    width: 100%;
    max-width: 569px;
  }
  
  .welcome-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
  }
  
  .card-body {
    background-color: #10112f;
    border-bottom-left-radius: 10px;
    color: white;
    border-bottom-right-radius: 10px;
  }
  
  .sub-text {
    color: #70717B;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border-bottom-left-radius: 282px;
    border-top-right-radius: 421px;
    margin: 8px 0;
    border: 1px solid #ccc;
    background: #f9f9f9;
    font-size: 16px;
  }
  
  .forgot-password {
    font-size: 12px;
    color: #70717B;
    text-decoration: none;
    font-weight: 600;
    display: block;
    text-align: start;
    margin-bottom: 15px;
  }
  
  .login-button {
    width: 100%;
    padding: 12px;
    background: #DC3545;
    border-radius: 30px;
    color: white;
    border: none;
    margin-top: 12px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .signup-text {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #70717B;
  }
  
  .signup-text a {
    color: #3B82F6;
    text-decoration: none;
  }
  
  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./Assests/security.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .auth-form {
    padding: 30px;
    border: 4px solid transparent;
    border-image: linear-gradient(to right, #DC3545, #ffff);
    border-image-slice: 1;
    width: 100%;
    max-width: 640px;
    position: relative;
    z-index: 2;
  }
  
  .auth-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0A0B1E, #000000c7);
    z-index: 1;
  }
  
  .drop-button {
    background: #DC3545;
    color: white !important;
    font-size: 0.65;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 2;
  }
  
  .form-select {
    border-radius: 30px;
  }
  
  a {
    text-decoration: none;
  }
  
  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0a0b1d93, rgb(57 50 43 / 0%));
    z-index: 1;
  }
  
  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 45px;
  }
  
  .arrow-button {
    position: absolute;
    right: 16px;
    bottom: 16px;
    background-color: #333;
    color: white;
    padding: 8px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .image-label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border-radius: 33px;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
 
  .slide-title {
    font-family: "Permanent Marker", serif !important;
    text-decoration: double;
    letter-spacing: 8px;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    z-index: 2;
  }
  
  .slide-description {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
    text-align: left;
    max-width: 80%;
    z-index: 2;
  }
  
  .styled-button {
    background: #DC3545;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 2;
  }
  
  .styled-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 117, 140, 0.3);
  }
  
  .blog-details-container {
    margin-top: 5.5rem;
    display: flex;
    justify-content: center;
  }
  
  .blog-content-box {
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: white !important;
    text-align: center;
  }
  
  .blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./Assests/security.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .blog-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0A0B1E, #000000c7);
    z-index: 1;
  }
  
  .blog-form {
    padding: 30px;
    border: 4px solid transparent;
    border-image: linear-gradient(to right, #DC3545, #ffff);
    border-image-slice: 1;
    width: 100%;
    max-width: 640px;
    position: relative;
    z-index: 2;
  }
  
  .blog-text {
    text-align: center;
    color: white;
  }
  
  .blog-title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }
  .blog-label{
    color: white;
  }
  
  .blog-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .blog-description {
    font-size: 1.1rem;
    color: #70717B;
    line-height: 1.6;
  }
  